body 
{
    font-family: Arial, Helvetica, sans-serif; padding:0px; margin:0px; font-size:12px; font-weight:normal; text-decoration:none;
}


#bdr {border-left:1px solid #dddddd;border-right:1px solid #dddddd;}
legend {font-size:16px; color:red; font-family:arial;}

table.FORM {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#000000;
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;

}
table.FORM th {
    background-image:url(../images/labe1.png); background-repeat:repeat-x;
    padding: 5px;
    height:40px;
    font-size:12px;
    text-align:left;
    color:#000;

}
table.FORM td {
    background-image:url(../images/labe1.png); background-repeat:repeat-x;
    padding: 5px;
    height:40px;
    font-size:12px;
    text-align:left;
    color:#0082d4;
}
/* menu */
.menuwrapper{height:42px;}
.topborder{
    height:1px;
    background-image: url(../images/down.png);
    background-repeat: no-repeat;
    background-position: center;
}
.bottomborder{
    height:1px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#FFFFFF;

}
.ddsmoothmenu{
    font: 12px Arial;
    /*height: 35px;*/
    margin: 0 auto;


}

.ddsmoothmenu ul{
    z-index:100;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

/*Top level list items*/
.ddsmoothmenu ul li{
    position: relative;
    display: inline;
    float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
    display: block; /*background of menu items (default state)*/
    color: #000;
    padding: 10px 20px;	
    text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
    color: #000;
}

.ddsmoothmenu ul li a:hover{
    background: #043c7f; /*background of menu items during onmouseover (hover state)*/
    color: #fff;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul{
    position: absolute;
    left: 0;
    display: none; /*collapse all sub menus to begin with*/
    visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
    display: list-item;
    float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
    top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
    font: normal 13px Verdana;
    width: 200px; /*width of sub menus*/
    padding: 5px;
    margin: 0;
    border-top-width: 0;
    border-bottom:1px solid #fff;
    border-right:1px solid #ccc;
    background-color: #d9d9d9; 
}


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
    background-image:url(../arrowimages/down.png); background-repeat:no-repeat;
}

.rightarrowclass{
    position: absolute;
    background-image:url(../images/down.png); background-repeat:no-repeat;
    top: 6px;
    right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
    -moz-box-shadow:0px 0px 20px #191919;
    -webkit-box-shadow:0px 0px 20px #191919;
    box-shadow:0px 0px 20px #191919;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: #cccccc;

}
.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
    opacity: 0.8;
}

#heading {
    background-color:#868686;
    padding: 7px;
    font-size:13px;
    text-align:left;
    color:#fff;
    font-weight:bold;

}

legend {font-size:16px; color:#0c2565; font-family:arial; font-weight:bold;padding:10px;}
table.FORM {
    font-family:Arial;
    font-size:11px;
    color:#000000;   
    padding: 5px;

}
table.FORM th {
    background-color:#e7e8e9;
    padding: 5px;
    font-size:12px;
    text-align:left;
    color:#000;

}
table.FORM td {
    padding: 5px;
    font-size:12px;
    text-align:left;
    color:#000;
    line-height:18px;
    background-color:#ececec;
}

ul#Sitemap{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height:26px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color:#fff;
    text-decoration: none;
    list-style-position: inside;
    list-style-type: square;
    padding: 4px;
    margin: 2px;
    list-style-position:outside;
    padding-left:20px;
}
ul#Sitemap li {border-bottom:1px dotted #f2f2f2; color:#fff;list-style-position:outside;}
ul#Sitemap li a{color:#fff; list-style-position:outside; text-decoration:none;}


table.altrowstable {
    border-right:1px #8d8d8d solid;
    border-top:1px #8d8d8d solid;
}
table.altrowstable th {
    background-color:#0E94C5;
    text-align:left;
    border-bottom:1px #8d8d8d solid; padding-left: 3px; padding-right: 3px;
    border-left:1px #8d8d8d solid;
    vertical-align:left;
    font-size:11px; font-family: verdana;
    height: 35px;
    font-weight:bold;
    color:#fff;
    padding:5px;
}
table.altrowstable td {
    text-align:right;
    border-bottom:1px #8d8d8d solid;
    border-left:1px #8d8d8d solid;
    vertical-align:middle; 
    padding-left: 3px; padding-right: 3px;
    height: 30px;
    font-size:11px; font-family: verdana; 
    font-weight:normal;
    height:20px;padding:5px;
} 

.oddrowcolor{
    background-color:#D9F4FD;
}
.evenrowcolor{
    background-color:#fff;
}

#paragraph { color:#000; font-family:arial; font-size:13px; text-decoration:none; font-weight:normal;line-height:20px;padding:10px;text-align:justify;}


body 
{
    font-family: Arial, Helvetica, sans-serif; padding:0px; margin:0px; font-size:12px; font-weight:normal; text-decoration:none; 
}

/* menu */
.menuwrapper{height:42px;}
.topborder{
    height:1px;
    background-image: url(../../images/down.png);
    background-repeat: no-repeat;
    background-position: center;
}
.bottomborder{
    height:1px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#FFFFFF;

}
.ddsmoothmenu{
    font: 12px Arial;
    /*height: 35px;*/
    margin: 0 auto;


}

.ddsmoothmenu ul{
    z-index:100;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

/*Top level list items*/
.ddsmoothmenu ul li{
    position: relative;
    display: inline;
    float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
    display: block; /*background of menu items (default state)*/
    color: #000;
    padding: 10px 20px;	
    text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
    color: #000;
}

.ddsmoothmenu ul li a:hover{
    background: #043c7f; /*background of menu items during onmouseover (hover state)*/
    color: #fff;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul{
    position: absolute;
    left: 0;
    display: none; /*collapse all sub menus to begin with*/
    visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
    display: list-item;
    float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
    top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
    font: normal 13px Verdana;
    width: 200px; /*width of sub menus*/
    padding: 5px;
    margin: 0;
    border-top-width: 0;
    border-bottom:1px solid #fff;
    border-right:1px solid #ccc;
    background-color: #d9d9d9; 
}


/* ######### CSS classes applied to down and right arrow ../images  ######### */

.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
    background-image:url(../arrow../images/down.png); background-repeat:no-repeat;
}

.rightarrowclass{
    position: absolute;
    background-image:url(../../images/down.png); background-repeat:no-repeat;
    top: 6px;
    right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
    -moz-box-shadow:0px 0px 20px #191919;
    -webkit-box-shadow:0px 0px 20px #191919;
    box-shadow:0px 0px 20px #191919;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: #cccccc;

}
.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
    opacity: 0.8;
}

ul#links{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height:28px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color:#000;
    text-decoration: none;
    list-style-position: inside;
    /*list-style-image: url(../../images/arw.png);*/
    list-style-type: square;
    padding: 4px;
    margin: 2px;
    list-style-position:outside;
    padding-left:20px;
}
ul#links li {border-bottom:1px dotted #fff; color:#fff;list-style-position:outside;}
ul#links li a{color:#fff; list-style-position:outside; text-decoration:none;}
ul#sitemap{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;               
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color:#000;
    text-decoration: none;
    list-style-position: inside;
    /*list-style-image: url(../../images/arw.png);*/
    list-style-type: square;
    padding: 2px;
    margin: 2px;
    list-style-position:outside;
    padding-left:20px;
}
ul#sitemap li { border-bottom:1px dotted #fff; color:#000;list-style-position:outside;}
ul#sitemap li a{ color:#000; list-style-position:outside; text-decoration:none;list-style:none;font-size:13px;}

h2{background-color: #2788c3; color:#fff;padding:5px;font-size:15px; font-family:Arial, Helvetica, sans-serif ; text-align:center}
h3{color:#4f4f4f;padding:5px;font-size:15px; font-family:Arial, Helvetica, sans-serif ; text-align:left;}

table#SimpleBorder {
    font-family:Arial;
    font-size:11px;

    color:#000000;
    background-color:#DAC1E6;

}
table#SimpleBorder th {
    background-color:#e7e8e9;
    padding: 5px;
    font-size:12px;
    text-align:left;
    color:#fff;

}
table#SimpleBorder td {
    padding: 5px;
    font-size:11px;
    font-weight: bold;
    text-align:left;
    color:#000000;
    line-height:18px;
    border:1px solid #fff;
}    



table#Border {
    font-family:Arial;
    font-size:11px;
    color:#000000;
    background-color:#0189cb;

}
table#Border th {
    background-color:#e7e8e9;
    padding: 5px;
    font-size:12px;
    text-align:left;
    color:#fff;

}
table#Border td {
    padding: 5px;
    font-size:12px;
    text-align:left;
    color:#fff;
    line-height:18px;
    border:1px solid #fff;
}    

table.altrowstable1 {
    border-right:1px #8d8d8d solid;
    border-top:1px #8d8d8d solid;
}
table.altrowstable1 th {
    background-color:#189ecf;
    text-align:left;
    border-bottom:1px #8d8d8d solid; padding-left: 3px; padding-right: 3px;
    border-left:1px #8d8d8d solid;
    vertical-align:middle;
    font-size:11px; font-family: verdana;
    height: 35px;
    font-weight:bold;
    color:#fff;
    padding:5px;
}
table.altrowstable1 td {
    text-align:left;
    border-bottom:1px #8d8d8d solid;
    border-left:1px #8d8d8d solid;
    vertical-align:middle; padding-left: 3px; padding-right: 3px;
    height: 30px;
    font-size:11px; font-family: verdana; 
    font-weight:normal;
    height:20px;padding:5px;
} 
a:link {
    text-decoration: none;
}


/* Form Starts */

/*.gry-bg {
	background-color:#959595; height:5px;
}

.formbg1 {
	background-color:#e6e6e6; padding-left:8px; text-align:left; border-bottom: #ccc solid 1px; vertical-align:middle; font-size:12px;  font-weight:700; height:30px; color:#4c4c4c;
}
.formbg2 {
	background-color:#f6f6f6; padding-left:8px; padding-top:7px;  border-bottom:1px #b0b0b0 solid; text-align:left; vertical-align:middle; font-size:12px;  font-weight:800; height:30px;
}

.formminihd 
{
    background-color:#bcd8ed;  padding-bottom:4px; padding-top:4px; font-weight:bold; color:#000000; padding-left:10px; text-align:left;
}
fieldset
 {
  margin:5px;    
  border: 2px solid #2788c3;
  padding:6px;
}
legend {
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  border: 2px solid #2db8a3;
  border-radius: 6px;
  background-color:#2788c3;
  padding: 3px;
  color:#ffffff;
}*/