.view {
   width: 180px;
   height: 180px;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 0px 0px 5px #878585;
   -moz-box-shadow: 0px 0px 5px #878585;
   box-shadow: 0px 0px 5px #878585;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
}
.view .mask,.view .content {
   width: 180px;
   height: 160px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
   width: 180px;
}
.view h2 {
  text-transform: uppercase;
color: #FFF;
text-align: center;
position: relative;
font-size: 13px;
padding: 10px;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
margin: 14px 0px 0px;
font-weight: bold;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
text-decoration: none;
padding: 3px 7px;
background: none repeat scroll 0% 0% #1380CE;
color: #FFF;
text-transform: uppercase;
box-shadow: 0px 0px 1px #0066B0;
font-size: 10px;
font-weight: bold;
}
.view a.info.hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}